/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';

.button_to{
  color:red;
}

#submit_post_tweet{
  text-align: center;
}

#post_tweet{
  resize: none;
  text-align: left;
  font-family: 'Lato', 'sans-serif';
  font-weight: 400;
}

#post{
  width: 100%;
  background: #d3edeb;
  border: 1px solid #ccc; padding: 10px;
}

.mybutton{
  color: #fff;
  background-color: #eb6100;
  border-radius: 100vh;
}

.head-nav{
  border: 1px solid black;
  margin-bottom: 10px;
  h1 {
    font-weight: 400;
    font-size: 30px;
  }
}

.tweet-post-form{
  display: inline-block;
}

.tweet-post-btn{
  border: 1px solid black;
  border-radius: 10px;
  width: 140px;
}

.login-nav{
  display: inline-block;
  margin-right: 0;
}